{% extends 'base.html' %}


{% block title %}
    {{ object.title }}
{% endblock title %}
    

{% block content %}
    <p>{{ object.title }}</p>
    <p>{{object.author}}</p>
    <p>{{object.date}}</p>
    <p>{{object.body}}</p>

    <hr>
    {% if user.is_authenticated %}
        <a href="{% url 'article_update' article.pk %}">Edit</a>
        <a href="{% url 'article_delete' article.pk %}">Delete</a>
    {% endif %}
    <p>Back to<a href="{% url 'article_list' %}"> All Articles</a>.</p>
{% endblock content %}
    